pyarrow==15.0.2

# TensorFlow 2.10 selon la machine (Python 3.10.6 OK)
tensorflow-macos==2.10.0; sys_platform == "darwin" and platform_machine == "arm64"      # Mac Apple Silicon (M1/M2)
tensorflow==2.10.0; sys_platform == "darwin" and platform_machine != "arm64"            # Mac Intel
tensorflow==2.10.0; sys_platform != "darwin"                                            # Windows / Linux Intel

keras==2.10.0
tensorboard==2.10.1

colorama
numpy==1.23.5
pandas==1.5.3
scipy==1.10.0
scikit-learn==1.3.1

ipykernel>=6.29.0
jupyterlab>=4.2.0
google-cloud-bigquery
google-cloud-storage==2.14.0
google-api-core==2.8.2
googleapis-common-protos==1.56.4
protobuf==3.19.6


streamlit
